/*importando normalize*/
@import "normalize.styl"

/*importando fuentes de iconos*/
@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?jhx2mp');
	src:url('../font/icomoon.eot?#iefixjhx2mp') format('embedded-opentype'),
		url('../font/icomoon.ttf?jhx2mp') format('truetype'),
		url('../font/icomoon.woff?jhx2mp') format('woff'),
		url('../font/icomoon.svg?jhx2mp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e600";
}
.icon-mail:before {
	content: "\e601";
}
.icon-location:before {
	content: "\e602";
}
.icon-clock:before {
	content: "\e603";
}
.icon-calendar:before {
	content: "\e604";
}
.icon-mobile:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}
.icon-play:before {
	content: "\e607";
}
.icon-left:before {
	content: "\e612";
}
.icon-right:before {
	content: "\e613";
}
.icon-circle-right:before {
	content: "\e60a";
}
.icon-gp:before {
	content: "\e60b";
}
.icon-fb:before {
	content: "\e60c";
}
.icon-tt:before {
	content: "\e60d";
}
.icon-fli:before {
	content: "\e60e";
}
.icon-tum:before {
	content: "\e60f";
}
.icon-lk:before {
	content: "\e610";
}
.icon-pin:before {
	content: "\e611";
}


/*Declarando variables*/
_white=#ffffff
_cleargreen=#21B44E
_darkgreen=#1C9845
_darkgreenmore=#0A6726
_clearblue=#252F38
_darkblue=#1A2127
_darkbluemore=#202A32
_sky-blue=#D6EBF0
_clearbluemore=#849BAE
_clearbluefonttitle=#7F95A7
_border-sponsor=#CDD1D0
_clear-black=#F6F6F6
_bg-title-pag=#40494F
_arrows=#D6DAD9
_arrows-hover=#47AB68
_bgc-input=#1D232A
_bg-about=#212B35
_sombra=#999

.c-green
	color _cleargreen

a
	text-decoration none
figure
	margin 0
	overflow hidden

h1,h2,h3,h4,h5
	margin 0

p
	margin 0
ul
	list-style none
	margin 0
	padding 0

.d-none
	display none

.general-container
	max-width 73em
	position relative
	margin-right auto
	margin-left auto
.long-container
	width	93.75em
	position relative
	margin-right auto
	margin-left auto

body
	font-family: 'Open Sans', sans-serif;
.header
	border-bottom 2px solid _sombra
	.header__data
		background-color _darkblue
		.content-header-data
			display table
			width 100%
			font-size 0
			height 3.25rem
			.data
				display table-cell
				width 71%
				vertical-align middle
				ul li
					display inline-block
					a
						color _white
						font-size .8rem
						padding 1rem 1.5rem
						text-shadow 0.1em 0.1em 0.05em #222
						span
							padding-right 1rem
							color _clearbluemore
							font-size 1rem
						&:hover
							background-color _cleargreen
							span
								color _darkgreenmore
								text-shadow none

			.networks
				display table-cell
				width 27%
				vertical-align middle
				ul li
					display inline-block
					a
						color _sky-blue
						font-size 1rem
						padding 1rem 1.5rem
						text-shadow 0.1em 0.1em 0.05em #222
						&:hover
							background-color _cleargreen
							span
								color _darkgreenmore
								text-shadow 0.1em 0.1em 0.5em #EEE
	.header__nav
		background-color _clearblue
		.content-header-nav
			display table
			width 100%
			font-size 0
			height 6.85rem
			.logo-company
				display table-cell
				font-size 1rem
				width 48%
				vertical-align middle
				figure
					height 4rem
					width 18rem
					background-color _white
			.nav
				display table-cell
				width 80%
				vertical-align middle
				ul li
					display inline-block
					border-left 1px solid _darkblue
					&:last-child
						border-right 1px solid _darkblue
					a
						font-size 1rem
						display block
						color _white
						padding	2.75rem 1.4rem
						text-transform uppercase
						font-weight 700
						&:hover
							background-color _cleargreen
							text-shadow 0.1em 0.1em 0.05em #555
.slider
	width 100%
	height	37.5em
	background _sky-blue
.slider--classes
	width 100%
	height	6em
	background _sky-blue
	padding 3.5em 0
	.container-slider
		text-transform uppercase
		&__title
			display table
			background-color _bg-title-pag
			padding .5em .8em
			color _cleargreen
		&__rutas
			background-color _bg-title-pag
			margin-top 1.5em
			display table
			padding .3em 1em
			font-size .7em
			a
				color _white
				font-weight 700
			span
				margin 0 .3em
				color _cleargreen


.invitation
	background-image url("../img/bg.jpg")
	padding 2em 0
	text-align center
	&__title
		font-size 1em
		font-weight 700
		padding-bottom 1em
	&__text
		padding-bottom 2em
	&__link a
		padding	1em 1.5em
		background-color _cleargreen
		color _white
		border-radius 5px
		font-weight bold
.invitation--trainers
	background-color _darkgreen
	background-image none
	padding 3em 0
	.invitation-left, .invitation-right
		display inline-block
		vertical-align middle
	.invitation-left
		width 60%
		text-align left
		color _white
	.invitation-right
		width 36%
		text-align right
	.invitation__title
		font-size 1.5em
	.invitation__text
		line-height 2em
		font-size .8rem
	.invitation__link a
		background-color _darkgreen
		border 2px solid _white
		padding	1.5em 1.5em

.content-pag
	margin-top 3em
	.info-structure
		padding-bottom 3rem
		&__head
			border-bottom 1px solid _border-sponsor
			font-size 0
			margin-bottom 1rem
			position relative
			.title
				font-size 1.5rem
				font-weight 600
				display inline-block
				padding-bottom 1rem
			.navigation-options
				position absolute
				right 0
				bottom .5rem
				font-size 1rem
				display inline-block
				a
					font-size .8rem
					color _clearblue
					padding .3rem .7rem
					border 1px solid _clearblue
				.arrows
					display inline-block
					a
						border 0
						padding-left .5rem
						padding-right 0
						color _arrows
						&:hover
							color _arrows-hover
			.line-green
				position absolute
				width 3rem
				height 3px
				bottom -2px
				background-color _cleargreen
		&__options
			font-size 0
			padding 2rem 0
			ul li
				display inline-block
				a
					border 2px solid _border-sponsor
					border-radius 3px
					color _clearbluemore
					padding .2rem .5rem
					font-size .8rem
					font-weight 700
					margin-right .8rem
					text-transform uppercase
					&:hover
						border 2px solid _darkgreen
						background-color _darkgreen
						color _white
		&__body
			font-size 0
			.new-classes
				display inline-block
				width 23%
				margin-right 1.9rem
				max-height	17rem
				&:last-child
					margin-right 0
				&__img
					background-color _darkblue
					height 12.5rem
				&__title
					background-color _darkbluemore
					color _clearbluemore
					font-size 1.5rem
					text-transform uppercase
					text-align center
					padding 1rem 0
			.featured-classes
				display inline-block
				overflow hidden
				width 31%
				margin-right 2.5rem
				max-height	17rem
				&:last-child
					margin-right 0
				&__icon
					width 4.3rem
					height 4.3rem
					background-color _darkgreen
					display inline-block
					position relative
					top -3.5rem
					left 0
					margin-right 1.5rem
				&__details
					font-size 1rem
					display inline-block
					width 70%
					text-align left
					.featured-classes__title
						font-size 1.2rem
						padding-bottom .5rem
					.featured-classes__description
						font-size .8rem
						line-height 1.5rem
					.featured-classes__link
						font-size .9rem
						padding-top 0.5rem
						a
							color _cleargreen
			.format-classes
				display block
				.classes
					display inline-block
					width 31.5%
					margin-right 1.9rem
					margin-bottom 3rem
					border-bottom 2px solid _border-sponsor
					text-align center
					&:nth-child(3n+3)
						margin-right 0
					&__img
						background-color _clear-black
						height 19rem
						border-bottom 2px solid _border-sponsor
					&__title
						font-size 1rem
						margin-top 1rem
					&__teacher
						font-size .8rem
						padding .5rem 0
				.classes-format2
					width 23.5%
					margin-right 1.24rem
					&:nth-child(3n+3)
						margin-right 1.24rem
					&:nth-child(4n+4)
						margin-right 0
					.classes__img
						height 13.5rem
				.classes-format3
					width 22%
					margin-right 2.5rem
					&:nth-child(3n+3)
						margin-right 2.5rem
					.classes__img
						background-color _darkgreen
					.containers-details-classes
						padding 1rem 1rem 1.5rem 1rem
						text-align left
						font-size 1rem
						border-right 1px solid _border-sponsor
						border-left 1px solid _border-sponsor
						.classes__teacher
							font-size 1.2rem
							font-weight 700
							padding-bottom 0
						.classes__specialty
							text-transform uppercase
							color _cleargreen
							font-size .8rem
							padding-bottom .7rem
						.classes__description
							font-size .8rem
							line-height 1.3rem
							padding-bottom 1.5rem
						.classes__redes ul li
							display inline-block
							margin-right .4rem
							a
								padding .3rem .5rem
								border 2px solid _darkgreen
								background-color _darkgreen
								color _white
								border-radius 2px
								&:hover
									background-color _white
									color _darkgreen

			.sponsors
				text-align center
				a
					margin-right 2.1rem
				.sponsor
					display inline-block
					width 17.35%
					background-color _white
					border 2px solid _border-sponsor
					vertical-align top
					&:hover
						border 2px solid _darkgreen
					&:last-child
						margin-right 0
					&__logo
						height 5rem
						figure
							position relative
							top 50%
							transform translateY(-50%)
							width 80%
								img
									width 100%
									max-height 70px
									border 1px solid blue

.about-company
	background-color _bg-about
	padding 2rem 0 4rem
	text-align center
	border-bottom 1px solid _darkblue
	.about
		display inline-block
		text-align left
		vertical-align top
		width 23%
		margin-right 1rem
		font-size 1rem
		&:last-child
			margin-right 0
		&__title
			color _clearbluefonttitle
			font-weight 700
			font-size 1.7rem
			padding 1rem 0
		&__content
			color _white
			font-size 0.8rem
			font-weight 400
			line-height 1.5rem
			.data-contac
				margin-top 1.5	rem
				li
					padding-bottom .8rem
				span
					margin-right 1rem

			.links li
				padding-bottom 1.5rem
				padding-top .5rem
				border-bottom 1px solid _clearblue
				&:first-child
					padding-top 0
				a
					color _white
					&:hover
						color _cleargreen
				span
					margin-right 1rem
			.form-about
				padding-top 1rem
				input
					margin-bottom .7rem
				.inputt
					width 100%
					line-height 2rem
					background-color _bgc-input
					border 0
					padding-left .5rem
					font-style italic
				.but
					width 60%
					color _white
					background-color _cleargreen
					padding .7rem 1rem
					font-size .9rem
					font-weight 700
					border 0
					text-shadow 0.1em 0.1em 0.05em #666
			.about-networks
				margin-top 1rem
				ul li
					display inline-block
					border 2px solid _cleargreen
					margin-right 0.3rem
					background-color _cleargreen
					padding 0.3rem
					border-radius 2px
					a
						color _white
						// padding 1rem 0.2rem
						font-size 1rem
					&:last-child
						margin-right 0
					&:hover
						background-color _darkblue
						a
							color _cleargreen
.footer
	background-color _clearblue
	padding 1rem 0
	&__author, &__nav
		display inline-block
		font-size 0
		font-size .8rem
	&__author
		width 53.8%
		color _white
	&__nav
		width 45.5%
		ul li
			display inline-block
			border-right 1px solid _sky-blue
			&:last-child
				border-right 0

			a
				color _white
				padding 0 1.5rem
				&:hover
					color _cleargreen
